$mono_font: Menlo, Monaco, monospace;
$body_font: $mono_font;
$leading: 24px;
$doll-width: 75px;
$layout-width: 760px;
$article-width: $layout_width;
$feature-width: 380px;
$background_color: #fff;
$hover_color: #8e173f;
$babushka_me_up_color: #333333;
$pre_border_color: #ccc;
$ruled-line: #bbb 1px solid;

@mixin textured($with_background: $background_color) {
  background: $with_background url('../images/extra_clean_paper.jpg') top left repeat; }

@mixin radius($rad: 3px) {
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  -o-border-radius: $rad;
  border-radius: $rad; }

@mixin clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
  }
}

@mixin syntax-highlighting {
  span.CodeRay {
    display: block; }
  color: #405056;
  span.class {
    color: #a47826; }
  span.comment {
    color: #92a0a0;
    font-style: italic; }
  span.constant {
    color: #a47826; }
  span.function {
    color: #3483c5; }
  span.keyword {
    color: #859926; }
  span.predefined-constant {
    color: #3483c5; }
  span.string {
    background-color: darken($background_color, 4%);
    span.delimiter {
      color: #44a199; }
    span.content {
      color: #485a62; } }
  span.symbol {
    color: #3b8b82; } }

abbr,article,aside,canvas,figcaption,figure,footer,header,hgroup,nav,section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font: 13px/#{$leading} $body_font;
  color: black;
  background: white;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: none;
  &:hover {
    border-bottom: 2px #999 solid;
  }
}

img {
  border: none;
}

hr {
  border: none;
  border-top: $ruled-line;
}

ul {
  padding-left: 2ex;
}

h1, h2, h3, p, pre, ul {
  margin: $leading 0;
}

h1, h2 {
  font-size: 13px;
  text-transform: uppercase;
}

h1 {
  font-weight: bold;
  letter-spacing: 3px;
}

h2 {
  letter-spacing: 1px;
  body >article & {
    border-bottom: $ruled-line;
    margin-bottom: -1px;
  }
}

@-webkit-keyframes jump {
  0% { -webkit-transform: translateY(0px); }
  30% { -webkit-transform: translateY(-8px) rotateZ(0deg); }
  40% { -webkit-transform: translateY(-10px) rotateZ(-4deg); }
  60% { -webkit-transform: translateY(-10px) rotateZ(4deg); }
  70% { -webkit-transform: translateY(-8px) rotateZ(0deg); }
  100% { -webkit-transform: translateY(0px); }
}

@-moz-keyframes jump {
  0% { -moz-transform: translateY(0px); }
  30% { -moz-transform: translateY(-8px) rotateZ(0deg); }
  40% { -moz-transform: translateY(-10px) rotateZ(-4deg); }
  60% { -moz-transform: translateY(-10px) rotateZ(4deg); }
  70% { -moz-transform: translateY(-8px) rotateZ(0deg); }
  100% { -moz-transform: translateY(0px); }
}

body > aside {
  position: absolute;
  top: $leading * 0.5;
  right: $leading;
  &:before {
    content: '↪';
  }
}

body >h1 {
  width: $layout-width;
  margin: $leading * 0.5 auto;
  padding: 0 $leading;
}

body .nav-wrapper {
  @include textured;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;

  nav {
    width: $layout-width;
    margin: 0 auto;

    padding: ($leading * 0.5) $leading;
    list-style: none;

    position: relative;
    section.doll {
      width: $doll-width;
      h1 a {
        position: absolute;
        bottom: 0;
        right: $leading * 3;
        border-bottom: none;

        -webkit-animation-name: jump;
        -webkit-animation-duration: 400ms;
        -webkit-animation-iteration-count: 0;

        &:hover {
          -webkit-animation-iteration-count: 1;

          -moz-animation-name: jump;
          -moz-animation-duration: 400ms;
          -moz-animation-duration-count: 1;
        }
      }
    }

    section {
      &.doll { margin-left: 0; }
      margin-right: $leading;
      overflow: hidden;
      h1, h2 {
        margin: 0;
      }
      h2, p {
        display: inline-block;
      }
      h2 {
        text-transform: lowercase;
        &:after {
          content: ' - ';
        }
      }
      p {
        margin: 0;
        a {
          text-transform: lowercase;
          font-size: 12px;
          &:after {
            content: ',';
          }
          &:last-child:after {
            content: '.';
          }
        }
      }
    }
    overflow: hidden;
  }
}

body >article {
  width: $article-width;
  margin: 0 auto;
  padding: 0 $leading;
  margin-bottom: $leading * 2;
  li {
    list-style-type: square;
  }

  a {
    border-bottom: 2px #ff3300 solid;
    &:link, &:visited {
      color: #ff3300;
    }
    &:hover {
      color: #ff9900;
      border-bottom-color: #ff9900;
    }
  }

  $caption-width: $article-width * 0.5;
  figure.precaption {
    width: $article-width + $caption-width + $leading;
    overflow: hidden;
    border-bottom: $pre_border_color 1px solid;
    pre {
      margin: 0;
    }
    >pre,
    figcaption >pre {
      border-bottom: 0;
    }
    >pre {
      width: $article-width;
      float: left;
    }
    figcaption >pre {
      float: right;
      width: $caption-width;
      padding-left: $leading;
    }
  }
}

pre {
  overflow-x: auto;
  line-height: 1.4;
  padding: 0.5em 0;
  border-top: $pre_border_color 1px solid;
  border-bottom: $pre_border_color 1px solid;
  code {
    padding: 0;
    font-weight: normal;
    @include syntax-highlighting;
  }
}

code {
  font-family: $mono_font;
  font-weight: bold;
}

/* the title page */
body.babushka {
  article {
    margin-top: $leading * 2;
    p {
      width: $feature-width;
    }
    pre {
      float: left;
    }
  }
}
